#Backend code(Laravel 5.8)
/backend/.env
/backend/.env.example
/backend/composer.lock
/backend/vendor/
/backend/bootstrap/cache
/backend/storage/logs
/backend/storage/app/public
/backend/storage/cache/data
/backend/storage/sessions
/backend/storage/testing
/backend/storage/views


#Frontend codes(Vue)
/frontend/node_modules/
/frontend/dist/
/frontend/package-lock.json
